<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header">
</head>
<body>

	<nav th:replace="layouts::navbar"></nav>
	<h5 th:text="${versionNumber}" class="font-italic"></h5>
	<div class="container">
		<h3>Main Dashboard</h3>
		<hr>
		<h4>Current Projects</h4>
		<div class="row">
			<div class="col-md-6">

				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Project Name</th>
							<th scope="col">Project Stage</th>
						</tr>
					<thead>
						<!-- <th scope="row"></th> -->
						<tr th:each="proj : ${projectsList}">
							<td th:text="${proj.name}" />
							<td th:text="${proj.stage}" />
						</tr>
				</table>
			</div>
			<div class="col-md-4">
				<canvas id="myPieChart" height="50" width="50">
			</canvas>
				<script>
				var chartData = "[[${projectStatusCnt}]]"
			</script>
			</div>
		</div>

	</div>
	<div class="container">


		<div class="row">
			<div class="col-md-6">
				<h4>Current Employee</h4>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Employee First Name</th>
							<th scope="col">Employee Last Name</th>
							<th scope="col">Employee Count</th>
						</tr>
					<thead>
						<!-- <th scope="row"></th> -->
						<tr th:each="empCount : ${employeesListProjectsCnt}">
							<td th:text="${empCount.firstName}" />
							<td th:text="${empCount.lastName}" />
							<td th:text="${empCount.projectCount}" />
						</tr>
				</table>
			</div>
		</div>
	</div>

</body>

<script type="text/javascript" th:src="@{js/pieChart.js}"></script>
</html>