<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header">
</head>
<body>

	<nav th:replace="layouts::navbar"></nav>
	<div class="container">
		<h3>Main Dashboard</h3>
		<hr>
		<h4>Current Projects</h4>
		<div class="row">
			<div class="col-md-6">

				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Project Name</th>
							<th scope="col">Project Stage</th>
						</tr>
					<thead>
						<th scope="row"></th>
						<tr th:each="proj : ${projectList}">
							<td th:text="${proj.name}" />
							<td th:text="${proj.stage}" />
						</tr>
				</table>
			</div>
			<div class="col-md-4">
				<canvas id="myPieChart" height="50" width="50">
			</canvas>
			</div>
		</div>

	</div>
	<div class="container">


		<div class="row">
			<div class="col-md-6">
				<h4>Current Employee</h4>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Employee First Name</th>
							<th scope="col">Employee Last Name</th>
							<th scope="col">Employee Email</th>
						</tr>
					<thead>
						<th scope="row"></th>
						<tr th:each="emp : ${employeeList}">
							<td th:text="${emp.firstName}" />
							<td th:text="${emp.lastName}" />
							<td th:text="${emp.email}" />
						</tr>
				</table>
			</div>
		</div>
	</div>

</body>

<script type="text/javascript" th:src="@{js/pieChart.js}"></script>
</html>