<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div>
		<h4>Current Projects</h4>
		<table>
			<tr>
				<th>Project Name</th>
				<th>Project Stage</th>
			</tr>
			<tr th:each="proj : ${projectList}">
				<td th:text="${proj.name}" />
				<td th:text="${proj.stage}" />
			</tr>

		</table>
	</div>
	
	<div>
		<h4>Current Employee</h4>
		<table>
			<tr>
				<th>Employee First Name</th>
				<th>Employee Last Name</th>
				<th>Employee Email</th>
			</tr>
			<tr th:each="emp : ${employeeList}">
				<td th:text="${emp.firstName}" />
				<td th:text="${emp.lastName}" />
				<td th:text="${emp.email}" />
			</tr>

		</table>
	</div>
</body>
</html>